.slider {
  display: flex;
  align-items: center;
  margin: 20px;
}

.slider__image {
  width: 60%;
}

.slider__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.slider__title {
  text-align: center;
}
